version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"

    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "Europe/Madrid"

    open-pull-requests-limit: 5

    groups:
      security-updates:
        applies-to: security-updates
        patterns:
          - "*"

      major-updates:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "major"

    labels:
      - "dependencies"

    commit-message:
      prefix: "chore(deps)"
      include: "scope"
